:root {
  --font-lead-color: #212121;
  --font-support-color: #757575;
  --additional-and-hover-color: #2196f3;
  --white: #ffffff;
  --main-background-color: #2f303a;
  --footer-font-color: rgba(255, 255, 255, 0.6);
  --filter-btn-color: #f5f4fa;
}
body {
  font-family: Roboto, Verdana, Tahoma, sans-serif;
  color: var(--font-lead-color);
}

body button {
  cursor: pointer;
}
.page-header {
  font-weight: 500;
  color: var(--font-lead-color);
}

.logo-main {
  font-family: Raleway, Tahoma, sans-serif;
  font-size: 26px;
  text-decoration: none;
  color: var(--font-lead-color);
  line-height: 1.19;
}

.blue-part-logo {
  color: var(--additional-and-hover-color);
}

.page-header-nav,
.page-header-contacts,
.our-business-pics,
.our-team-pics,
.basement-address-list,
.filter-btns,
.portfolio-cards {
  list-style: none;
}

.page-header-nav-link {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.page-header-nav-link:hover,
.page-header-nav-link:focus {
  color: var(--additional-and-hover-color);
}

.page-header-contacts-mail,
.page-header-contacts-tel {
  text-decoration: inherit;
  color: var(--font-support-color);
}

.page-header-contacts-mail:hover,
.page-header-contacts-mail:focus,
.page-header-contacts-tel:hover,
.page-header-contacts-tel:focus,
.basement-phys-address:hover,
.basement-phys-address:focus,
.basement-mail:hover,
.basement-mail:focus,
.basement-tel:hover,
.basement-tel:focus {
  color: var(--additional-and-hover-color);
}

.slogan {
  background-color: var(--main-background-color);
}

.slogan-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.slogan-order-btn {
  color: var(--white);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.87;
  border: none;
  border-radius: 4px;
  background-color: var(--additional-and-hover-color);
}

.features-describer {
  font-size: 14px;
}

.features-describer-header {
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
}

.features-describer-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--font-support-color);
}

.sub-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.our-team-pic-name,
.our-team-pic-rank {
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
}

.our-team-pic-rank {
  color: var(--font-support-color);
}

.basement {
  background-color: var(--main-background-color);
}

.basement-logo {
  color: var(--white);
}

.basement-address {
  font-style: normal;
  color: var(--footer-font-color);
  line-height: 1.71;
  text-decoration: none;
}

.basement-phys-address,
.basement-mail,
.basement-tel {
  color: inherit;
  text-decoration: inherit;
}

.basement-phys-address {
  color: var(--white);
}

.filter-btn {
  background-color: var(--filter-btn-color);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--additional-and-hover-color);
  color: var(--white);
}

.portfolio-card-header,
.portfolio-card-subheader {
  font-weight: 700;
}

.portfolio-card-header {
  font-size: 18px;
  line-height: 2;
}

.portfolio-card-subheader {
  font-size: 16px;
  line-height: 1.87;
  color: var(--font-support-color);
}
